<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Auth Project{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100">
    {% if messages %}
    <div id="messages-container" class="px-4 py-2">
      {% for message in messages %}
        <div class="mb-3 p-3 rounded {{ message.tags }} bg-rose-600 text-white font-bold">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
  

    {% include 'account/header.html' %}
    
    <div class="container mx-auto p-4">
      {% block content %} 
      <!-- Default content or child content will go here -->
      {% endblock %}
    </div>

    {% include 'account/footer.html' %}
  </body>
  <script>
    // Auto-hide after 5 seconds
    setTimeout(() => {
      const container = document.getElementById('messages-container');
      if (container) {
        container.style.transition = "opacity 0.5s ease";
        container.style.opacity = "0";
        setTimeout(() => container.remove(), 500); // remove from DOM after fade
      }
    }, 5000); // 5 seconds
  </script>
  
</html>
